# Data Science Tools and Ecosystem

## Introduction

**Objectives:**
1. Data Science Languages
2. Data Science Libraries
3. Data Science Tools

In [ ]:
In this notebook, Data Science Tools and Ecosystem are summarized.

## Data Science Languages

In [ ]:
Some of the popular languages that Data Scientists use are:
1. Python
2. R Programming Language
3. SQL

## Data Science Libraries

In [ ]:
Some of the commonly used libraries used by Data Scientists include:
    1. NumPy
    2. Pandas
    3. SciKit Learn

## Data Science Tools

In [1]:
import pandas as pd

In [7]:
data = {'Data Science Tools': ['Jupyter Notebooks','Rstudio','PyCharm']}
df = pd.DataFrame(data)
df

  Data Science Tools
0  Jupyter Notebooks
1            Rstudio
2            PyCharm

## Arithmetic Expression Examples

### Below are a few examples of evaluating arithmetic expressions in Python

In [8]:
(3*4)+5   #This a simple arithmetic expression to mutiply then add integers

17

In [9]:
200/60     #This will convert 200 minutes to hours by diving by 60

3.3333333333333335

## Author
Chetan Joshi